.card {
    width: 400px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.568);
    border-radius: 5px;
}
.card:hover {
    transform: scale(1.1);
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}
  
.card_content {
    padding: 10px 10px 16px;
    text-align: center;
}
.card_content h1 {
    font-size: 22px;
}
.card_content h2 {
    font-size: 15px;
}
  
.settings {
    display: flex;
    justify-content: space-between;
}