.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(63, 63, 229);
    padding: 0 15px;
}

.header h1 {
    color: white;
    font-size: 25px;
}

.header_content input {
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0 5px;
}

.header_content button {
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 2px;
}

.navbar {
    border-bottom: 2px solid rgba(0, 85, 255, 0.138);
    background-color: rgb(0, 27, 82);
    color: white;
}
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 60px;
    margin: 0;
    padding: 15px 0;
}
.navbar a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.navbar li {
    cursor: pointer;
} 